<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device=device-width, initial-scale=1.0">
    <title><%= book.title %></title>
</head>
<body>
    <div id="book_text">
        <%= book.text %>
    </div>
    
</body>
</html>