<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FREE LIBRARY</title>
    <link rel="stylesheet" href="../styles/main_page.css">
</head>
<body>
    <a id="add_book" href="/add_book">Add Book</a>
    <div id="books_list">
        <% if (books != null){books.forEach((book) => { %>
            <div class="book" onclick="window.location.href='/book/<%= book.id %>'">
                <div class="title"><%= book.title %></div>
                <div class="author"><%= book.author %></div>
                <div class="year"><%= book.year %></div>
            </div>
        <% })} %>   

    </div>


    
</body>

</html>