
#books-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    padding-top: 1%;
    padding: 1%;
}



#book{
    padding: 3%;
    display: inline-block;
    background-color: gray;
}